.wrap {
    background-color: #000;
}

body * {
    word-break: keep-all;
    box-sizing: border-box;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

h2, h3, h4, h5 {
    margin: .75em 0 .25em;
}

/* story-card */

.story-card-subtitle,
.story-card-text {
    font-size: 1.625rem;
    font-weight: 400;
}

.story-card {
    position: relative;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
    padding: 70px 45px;
}

.story-card .story-card-title {
    font-size: 3.125rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.story-card .story-card-subtitle {
    font-size: 1.625rem;
    font-weight: 400;
}

.story-card-cta .inputError {
    /*text-align: left;*/
    text-align: initial;
    display: none;
    color: #ffa00a;
    margin-bottom: -6px;
    padding: 6px 3px;
    font-size: 15px;
}

/* story-card END */

/* animation-card */

.animation-card .story-card-img-container {
    width: 48%;
}

.animation-card .story-card-text {
    width: 52%;
    padding: 0 3rem 0 0;
    box-sizing: content-box;
}

.animation-card .story-card-animation-container {
    margin: -10% -5% -5% 0;
    position: relative;
    overflow: hidden;
}

.animation-card-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-card.watchOnDevice .story-card-video,
.animation-card.watchOnTv .story-card-video {
    width: 100%;
    height: 100%;
}

.animation-card.watchOnDevice .story-card-img,
.animation-card.watchOnTv .story-card-img {
    position: relative;
    z-index: 2;
}

.animation-card.flipped .animation-card-container {
    flex-direction: row-reverse;
}

.animation-card.flipped .animation-card-container .story-card-text {
    padding: 0 0 0 3rem;
}

/* animation-card END */

/* email form */

.cta-form {
    padding-top: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cta-form .cta-form-title {
    font-size: 19px;
    padding: 0 48px 20px;
    color: white;
    margin: 0 auto;
}

.cta-form .story-card-cta {
    display: flex;
    justify-content: center;
}

.cta-form .input-responsive {
    width: 500px;
    height: 70px;
}

.cta-form .input-placement {
    position: relative;
    height: 100%;
}

.cta-form .input-responsive input[type="email"] {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 10px 0;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #000;
    font-size: 1rem;
}

.cta-form .input-responsive input[type="email"].error {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #ffa00a;
}

.cta-form .input-responsive input[type="email"]:focus {
    border-color: #0071eb;
    outline: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.cta-form .input-responsive input[type="email"]:focus + .placeLabel {
    top: 6px;
    font-weight: 700;
    font-size: 13px;
    transform: translateY(0px);
}

.cta-form .input-responsive input[type="email"].hasText + .placeLabel {
    top: 6px;
    font-weight: 700;
    font-size: 13px;
    transform: translateY(0px);
}

.cta-form .input-responsive .placeLabel {
    position: absolute;
    top: 50%;
    left: 10px;
    transition: font .1s ease, top .1s ease, transform .1s ease, -webkit-transform .1s ease, -moz-transform .1s ease, -o-transform .1s ease;
    transform: translateY(-50%);
    color: #8c8c8c;
    font-size: 16px;
}

.cta-form .input-responsive input[type="email"].error {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #ffa00a;
}

.cta-form .story-card-cta button[type="submit"] {
    background: #f40612;
    box-shadow: 0 1px 0 #00000073;
    border: none;
    width: 208px;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.cta-form .story-card-cta button[type="submit"] .fa-chevron-right {
    font-size: 25px;
    padding-left: 15px;
}

/* email form end */