.wrap {
    background-color: #000;
}

body * {
    word-break: keep-all;
    box-sizing: border-box;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

h2, h3, h4, h5 {
    margin: .75em 0 .25em;
}


/* setCookiePopupLayer */
.setCookiePopupLayer {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
}

.setCookiePopupLayer img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
}
/* setCookiePopupLayer END*/


/* story-card */
.story-card-subtitle,
.story-card-text {
    font-size: 1.625rem;
    font-weight: 400;
}

.story-card {
    position: relative;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
    padding: 70px 45px;
}

.story-card .story-card-title {
    font-size: 3.125rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.story-card .story-card-subtitle {
    font-size: 1.625rem;
    font-weight: 400;
}
/* story-card END */


/* animation-card */
.animation-card .story-card-text {
    width: 52%;
    padding: 0 3rem 0 0;
    box-sizing: content-box;
}

.animation-card .story-card-animation-container {
    margin: -10% -5% -5% 0;
    position: relative;
    overflow: hidden;
}

.animation-card-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-card.flipped .animation-card-container {
    flex-direction: row-reverse;
}

.animation-card.flipped .animation-card-container .story-card-text {
    padding: 0 0 0 3rem;
}

.animation-card .story-card-img-container {
    width: 48%;
}

.animation-card.watchOnDevice .story-card-video,
.animation-card.watchOnTv .story-card-video {
    width: 100%;
    height: 100%;
}

.animation-card.watchOnDevice .story-card-img,
.animation-card.watchOnTv .story-card-img {
    position: relative;
    z-index: 2;
}
/* animation-card END */


/* email form */
.cta-form {
    padding-top: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cta-form .cta-form-title {
    font-size: 19px;
    padding: 0 48px 20px;
    color: white;
    margin: 0 auto;
}

.cta-form .story-card-cta {
    display: flex;
    justify-content: center;
}

.cta-form .input-responsive {
    width: 500px;
    height: 70px;
}

.cta-form .input-placement {
    position: relative;
    height: 100%;
}

.cta-form .input-responsive input[type="email"] {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 10px 0;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #000;
    font-size: 1rem;
}

.cta-form .input-responsive input[type="email"].error {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #ffa00a;
}

.cta-form .input-responsive input[type="email"]:focus {
    border-color: #0071eb;
    outline: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.cta-form .input-responsive input[type="email"]:focus + .placeLabel {
    top: 6px;
    font-weight: 700;
    font-size: 13px;
    transform: translateY(0px);
}

.cta-form .input-responsive input[type="email"].hasText + .placeLabel {
    top: 6px;
    font-weight: 700;
    font-size: 13px;
    transform: translateY(0px);
}

.cta-form .input-responsive .placeLabel {
    position: absolute;
    top: 50%;
    left: 10px;
    transition: font .1s ease, top .1s ease, transform .1s ease, -webkit-transform .1s ease, -moz-transform .1s ease, -o-transform .1s ease;
    transform: translateY(-50%);
    color: #8c8c8c;
    font-size: 16px;
}

.cta-form .story-card-cta button[type="submit"] {
    background: #f40612;
    box-shadow: 0 1px 0 #00000073;
    border: none;
    width: 208px;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.cta-form .story-card-cta button[type="submit"] .fa-chevron-right {
    font-size: 25px;
    padding-left: 15px;
}

.cta-form .inputError {
    /*text-align: left;*/
    text-align: initial;
    display: none;
    color: #ffa00a;
    margin-bottom: -6px;
    padding: 6px 3px;
    font-size: 15px;
}
/* email form end */


/* 반응형 추가 영역 */
@media screen and (max-width: 1189px) {
    /* cta-form */
    .cta-form {
        padding-top: 0;
    }

    .cta-form .cta-form-title {
        max-width: 450px;
        font-size: 23px;
        box-sizing: content-box;
        padding: 0 68px 0;
    }

    .cta-form .story-card-cta {
        flex-direction: column;
        align-items: center;
    }

    .cta-form .input-responsive {
        height: auto;
        margin: 10px auto;
    }

    .cta-form .story-card-cta button[type="submit"] {
        width: 111px;
        height: 40px;
        font-size: 16px;
    }

    .cta-form .story-card-cta button[type="submit"] .fa-chevron-right {
        font-size: 11px;
        padding-left: 8px;
    }

    .cta-form .input-responsive input[type="email"] {
        height: 60px;
    }

    /* animation */
    .animation-card-container {
        flex-direction: column;
    }

    .animation-card .story-card-text {
        width: 100%;
        padding: 0;
        text-align: center;
        z-index: 3;
    }

    .animation-card .story-card-img-container {
        width: 100%;
        max-width: 600px;
        margin-top: 1em;
        background: transparent;
    }

    .animation-card .story-card-animation-container {
        margin: -10% 0 0 0;
    }

    .animation-card.flipped .animation-card-container {
        flex-direction: column;
    }

    /* .story-card */
    .story-card .story-card-title {
        font-size: 40px;
    }

    .story-card .story-card-subtitle {
        margin: 15px 0 5px;
        font-size: 20px;
    }

    .story-card-subtitle, .story-card-text {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 767px) {
    .story-card.hero-card {
        padding: 50px 5%;
    }

    .story-card {
        padding: 50px 16px;
    }

    .story-card .story-card-title {
        font-size: 26px;
    }

    .story-card .story-card-subtitle {
        font-size: 18px;
        margin-top: 14px;
    }

    .cta-form .cta-form-title {
        font-size: 18px;
        padding: 0 14px;
    }

    .cta-form .input-responsive {
        width: 100%;
    }

    .cta-form .input-responsive input[type="email"] {
        height: 48px;
    }

    .cta-form .input-responsive .placeLabel {
        font-size: 14px;
    }

    .cta-form .input-responsive input[type="email"]:focus + .placeLabel {
        font-size: 11px;
        font-weight: 400;
    }

    .animation-card.flipped .animation-card-container .story-card-text {
        padding: 0;
    }
}