.watchOnDevice .story-card-animation-container {
    margin: -5% -10% 0 0;
}

.watchOnDevice .story-card-animation {
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    position: absolute;
    top: 34%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* 반응형 추가 영역 */
@media screen and (max-width: 1189px) {
    .watchOnDevice .story-card-animation-container {
        margin: -5% 0 0 0;
    }
}